@use "../../styles/variables.scss" as *;

.graph {
  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > .graph-outer {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    height: 250px;
    margin: 0.5em 0;
    position: relative;
    overflow: hidden;

    & > .global-graph-icon {
      cursor: pointer;
      background: none;
      border: none;
      color: var(--dark);
      opacity: 0.5;
      width: 24px;
      height: 24px;
      position: absolute;
      padding: 0.2rem;
      margin: 0.3rem;
      top: 0;
      right: 0;
      border-radius: 4px;
      background-color: transparent;
      transition: background-color 0.5s ease;
      cursor: pointer;
      &:hover {
        background-color: var(--lightgray);
      }
    }
  }

  & > .global-graph-outer {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: color-mix(in srgb, var(--light), transparent 20%);
    display: none;
    overflow: hidden;
    overscroll-behavior: contain;

    &.active {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    & > .global-graph-container {
      border: 1px solid var(--lightgray);
      background-color: var(--light);
      border-radius: 5px;
      box-sizing: border-box;
      position: relative;
      height: 90vh;
      width: 90vw;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

      & > .global-graph-canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      @media all and ($mobile) {
        width: 100%;
        height: 100dvh;
        border: none;
        border-radius: 0;
      }

      & > .global-graph-close-icon {
        cursor: pointer;
        background: none;
        border: none;
        color: var(--dark);
        opacity: 0.5;
        width: 32px;
        height: 32px;
        position: absolute;
        padding: 0.4rem;
        margin: 0.5rem;
        top: 0;
        right: 0;
        border-radius: 4px;
        background-color: transparent;
        transition:
          background-color 0.5s ease,
          opacity 0.2s ease;
        z-index: 10000;
        &:hover {
          background-color: var(--lightgray);
          opacity: 1;
        }
      }
    }
  }
}
